@charset "UTF-8";

body{
    background-color: rgba(70, 142, 235);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

header{
    color: white;
    text-align: center;
}

#formatacao{
    font-style: normal;

}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.39);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}